<div>
    <navigation-bar status="status"></navigation-bar>
    <div class="formContainer flexible-Margin">
        <p class="labelKey SMSText">{{ 'FORGOT_PASSWORD_MOBILE_NUMBER' | translate }}.<br/>{{ 'FORGOT_PASSWORD_SMS_MESSAGE' | translate }}</p>
        <form name="forgotpasswordform" id="forgotpasswordform">
            <input type="text" placeholder="{{ 'MOBILE_NUMBER' | translate }}" class="greyBorderTopBottom" id="mobilenumber" name="mobilenumber" ng-model="mobilenumber" required/>
        </form>
    </div>
    <div class="stickyBottom">
        <button ng-class="{true: 'button base inactive', false: 'button base active'}[forgotpasswordform.$invalid]"  ng-click="send()" ng-disabled="forgotpasswordform.$invalid">{{ 'FORGOT_PASSWORD_SEND' | translate }}</button>
        <div class="socially grey-tcb"></div>
    </div>
</div>