<div id="getstarted" class="owl-carousel owl-theme" style="background-color: #F00329;">
    <div class="item"><a class="skip" href="#">Bỏ qua</a><img src="./images/getstarted/5.png"></div>
    <div class="item"><a class="skip" href="#">Bỏ qua</a><img src="./images/getstarted/6.png"></div>
    <div class="item"><a class="skip" href="#">Trang chủ</a><img src="./images/getstarted/7.png"></div>
</div>

<script type="text/javascript">
    $("#getstarted").owlCarousel({
        navigation : false,
        slideSpeed : 300,
        paginationSpeed : 400,
        items: 1,
        itemsDesktop: false,
        itemsDesktopSmall: false,
        itemsTablet: false,
        itemsMobile: false,
        dots: false
    });
</script>