<div>
    <navigation-bar status="status"></navigation-bar>
    <div class="flexible-Margin" style="font-size: 12px">
        <ul class="iconList">
            <li >
                <a class="support-phone" href="tel:1800588822">1800 588 822/+844 3944 6699 Fax: +84 4 3944 6395</a>
            </li>
            <li >
                <a class="support-email" ng-click="openMailClient()">call_center@techcombank.com.vn</a>
            </li>
            <li >
                <a class="support-address">{{'CONTACT_US_ADDRESS' | translate}}</a>
            </li>
        </ul>
    </div>
    <div class="stickyBottom">
        <div class="socially grey-tcb"></div>
    </div>
</div>