<div>
    <navigation-bar status="status"></navigation-bar>
    <div class="scrollBox-withFooter">
        <div class="row">
            <div class="labelKey column50">{{'PENDING_TRANSACTION_DETAILS_TRANSACTION_REFERENCE' | translate}}</div>
            <div class="labelValue column50 align-right">1221212121</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'PENDING_TRANSACTION_DETAILS_SOURCE_ACCOUNT' | translate}}</div>
            <div class="labelValue column50 align-right">{{transaction.accountNumber}}</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'PENDING_TRANSACTION_DETAILS_DATE' | translate}}</div>
            <div class="labelValue column50 align-right">{{transaction.date}}</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'PENDING_TRANSACTION_DETAILS_TIME' | translate}}</div>
            <div class="labelValue column50 align-right">09:25:22</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'PENDING_TRANSACTION_DETAILS_DEBIT' | translate}}</div>
            <div class="labelValue column50 align-right">50,000</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'PENDING_TRANSACTION_DETAILS_AMOUNT' | translate}}</div>
            <div class="labelValue column50 align-right">{{transaction.amount}}</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'PENDING_TRANSACTION_DETAILS_CURRENCY' | translate}}</div>
            <div class="labelValue column50 align-right">VND</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'PENDING_TRANSACTION_DETAILS_BENEFICIARY' | translate}}</div>
            <div class="labelValue column50 align-right">{{transaction.name}}</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'PENDING_TRANSACTION_DETAILS_BENEFICIARY_ACCOUNT' | translate}}</div>
            <div class="labelValue column50 align-right">9876542211</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'PENDING_TRANSACTION_DETAILS_BENEFICIARY_BANK' | translate}}</div>
            <div class="labelValue column50 align-right">ABC</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'PENDING_TRANSACTION_DETAILS_REMARK' | translate}}</div>
            <div class="labelValue column50 align-right">.....</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'PENDING_TRANSACTION_DETAILS_STATUS' | translate}}</div>
            <div class="labelValue column50 align-right">{{transaction.status}}</div>
        </div>
        <div class="space"></div>
    </div>
    <div class="stickyBottom">
        <div class="socially grey"></div>
    </div>
</div>