<div>
    <div ng-include src="'views/loading/loading.html'"></div>
    <navigation-bar status="status"></navigation-bar>
    <div class="profile-cover" style="background-image: url(images/fbcover.jpg)">
        <div class="profile-name noprofilephoto"><h1 style="color:white">{{'TCB_TXN_SUCCESS_PREFIX' | translate}}<br/>{{transferDetails.destinationAccountDetails.payeeName}}<br/>{{transferDetails.destinationAccountDetails.payeeAccountNumber}}</h1>
        </div>

        <div class="accountBalance">
            <div class="accountType success">{{'TRANSFER_TCB_SUCCESSAMOUNT' | translate}}</div>
            <div class="amount left">
                  <span class="currency">{{currencyCode}}</span><span class="number">{{transferDetails.amount.formatMoney(0)}}</span>
            </div>
        </div>
    </div>

    <div class="scrollBox-withCoverAndFooter resultContainer">

        <div class="infolist">
            <p class="labelKey">{{'TRANSFER_TCB_SUCCESSFEE' | translate}} <span class="labelValue amount left" style="margin-top: 0px;font-size: 1.05em;">{{transferDetails.transferCurrency}} {{transferDetails.transferFee.formatMoney(0)}}</span></p>
        </div>

        <div class="infolist" style="overflow: auto;">
            <p class="labelKey">{{'TRANSFER_TCB_TRANSACTION_REFERENCE' | translate}} <span class="labelValue amount left" style="margin-top: 0px;font-size: 1.05em;width: 145px;word-break: break-word;text-align: right;">{{transactionReference}}</span></p>
        </div>


        <div class="buttonBox success">
            <button class="button base active" ng-click="clickTransactMore()">{{'TRANSFER_TCB_SUCCESSTRANSACTMORE_BUTTON' | translate}}</button>
            <button class="button base active" ng-click="clickHome()">{{'TRANSFER_TCB_SUCCESSHOME_BUTTON' | translate}}</button>
        </div>
    </div>

    <div class="stickyBottom">
        <div class="socially grey-tcb"></div>
    </div>


</div>