<div>
    <navigation-bar status="status"></navigation-bar>
    <div class="scrollBox-withFooter">
        <div class="row">
            <div class="labelKey column50">{{'TRANSACTION_DETAILS_TRANSACTION_REFERENCE' | translate}}</div>
            <div class="labelValue column50 align-right">{{transaction.coreBankTxnId}} <br ng-show="transaction.mobiliserTxnId && transaction.coreBankTxnId" /> {{transaction.mobiliserTxnId}}</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'TRANSACTION_DETAILS_SOURCE_ACCOUNT_NAME' | translate}}</div>
            <div class="labelValue column50 align-right">{{transaction.payer.accountName}}</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'TRANSACTION_DETAILS_SOURCE_ACCOUNT' | translate}}</div>
            <div class="labelValue column50 align-right">{{transaction.payer.accountNumber}}</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'TRANSACTION_DETAILS_DATE' | translate}}</div>
            <div class="labelValue column50 align-right">{{transaction.date}}</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'TRANSACTION_DETAILS_AMOUNT' | translate}}</div>
            <div class="labelValue column50 align-right">{{transaction.amount}}</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'TRANSACTION_DETAILS_BENEFICIARY' | translate}}</div>
            <div class="labelValue column50 align-right">{{transaction.payee.accountName}}</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'TRANSACTION_DETAILS_BENEFICIARY_ACCOUNT' | translate}}</div>
            <div class="labelValue column50 align-right">{{transaction.payee.accountNumber}}</div>
        </div>
        <div class="row">
            <div class="labelKey column50">{{'TRANSACTION_DETAILS_REMARK' | translate}}</div>
            <div class="labelValue column50 align-right">{{transaction.txnDesc}}</div>
        </div>
        <div class="space"></div>
    </div>
    <div class="stickyBottom">
        <div class="socially grey-tcb"></div>
    </div>
</div>