<div>
    <navigation-bar status="status"></navigation-bar>
    <div class="profile-cover" style="background-image: url({{profile.background}})">
        <div class="profile-image" ng-click="clickProfile()" style="background-image:url({{profile.photo}})" id="profileImage"></div>
        <div class="profile-name"><h1 style="color:white">{{profile.name}}</h1></div>
        <div class="accountBalance" ng-click="swapAccountValue()">
            <div id="eWalletAccount">
                <div class="accountType">{{account.displayName}}<br>{{account.accountNumber}}</div>
                <div class="accountArrow" > </div>
                <div class="amount small">
                    <span>{{account.currency}}</span><span class="number">{{account.balance}} </span>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboardContainer">
        <div class="select ng-binding">{{'CASHOUT_INDEX_SELECT_CHOICE' | translate }}</div>
        <div class="dashboardGreyBox cashoutBox">
            <div class="mobilenumber" ng-click="clickMobile()"><span>{{'CASHOUT_INDEX_TO_MOBILE' | translate }}</span></div>
            <div class="idNumber" ng-click="clickID()"><span>{{'CASHOUT_INDEX_TO_ID' | translate }}</span></div>
        </div>
    </div>

</div>