<div>
    <navigation-bar status="status"></navigation-bar>

    <div class="scrollBox-withFooter">
        <ul class="arrowlist greyBorderBottom">
            <li class="greyBorderBottom">
                <a ng-click="showMapView()">
                    {{selectedItem.type}} - {{selectedItem.name}} <br>
                    {{selectedItem.address}}<br>
                    {{selectedItem.tel}}
                </a>
            </li>
            <li class="greyBorderBottom">
                <a ng-click="showMapView()">
                    {{selectedItem.type}} - {{selectedItem.name}} <br>
                    {{selectedItem.address}}<br>
                    {{selectedItem.tel}}
                </a>
            </li>
        </ul>

    </div>

    <div class="stickyBottom">
        <div class="socially grey-tcb"></div>
    </div>
</div>