<div>
    <div ng-include src="'views/loading/loading.html'"></div>
    <div class="overlay " ng-click="dimissPopUp()"></div>
    <div class="moreMenu">
        <div class="inquiry" style="margin-left:60px" ng-click="clickViewDetail()"><span style="margin-bottom:-10px" >{{'DEPOSIT_VIEW_DETAIL' | translate }}</span></div>
        <div class="credit-diabled" style="margin-left:25px" ng-click="clickWithdraw()"><span style="margin-bottom:-10px" >{{'CREDIT_INDEX_WITHDRAWAL' | translate }}</span></div>
    </div>
    <navigation-bar status="status"></navigation-bar>
    <div class="scrollBox-withFooter">
        <div class="formContainer flexibleMargin">
            <accordion close-others="false">
                <accordion-group ng-repeat="account in loans" is-open="account.open">
                    <accordion-heading>
                        <div>
                            {{account.mainLoanName | translate}}
                            <i class="pull-right glyphicon" style="top: 0 !important;" ng-class="{'arrow-down': account.open, 'arrow-up': !account.open}"></i>
                        </div>
                    </accordion-heading>
                    <ul class="panelList">
                        <div class="cashoutInfo" style="margin-top: -15px;" ng-show="account.havingNoLoan"> {{'HAVE_NO_LOAN_MESSAGE' | translate}}</div>
                        <li ng-repeat="subAccount in account.subAccounts" class="greyBorderBottom">
                            <a>
                                <name ng-click="clickLoan(subAccount.accountIndex, account.mainLoanName)">{{'CREDIT_INDEX_CONTRACT_NUMBER' | translate}}: <b>{{subAccount.contractNo}}</b></name>
                                <name ng-click="clickLoan(subAccount.accountIndex, account.mainLoanName)">{{'CREDIT_INDEX_OUTSTANDING_BALANCE' | translate}}: <b>{{subAccount.currency}} {{subAccount.outstandingBalance}}</b></name>
                                <name ng-click="clickLoan(subAccount.accountIndex, account.mainLoanName)">{{'DEPOSIT_INTEREST' | translate}}: <b>{{subAccount.interestRate}}%</b> -  {{'DEPOSIT_MATURITY_DATE' | translate}}: <b>{{subAccount.maturityDate}}</b></name>
                                <i class="glyphicon moreMenutrigger" ng-click="showMoreMenu($event, subAccount.accountIndex, account.mainLoanName)"></i>
                            </a>
                        </li>
                    </ul>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="stickyBottom">
        <div class="socially grey-tcb"></div>
    </div>
</div>