<div>
    <div ng-include src="'views/loading/loading.html'"></div>
    <navigation-bar status="status"></navigation-bar>
    <div class="formContainer scrollBox-withFooter">
        <div class="greyBorderBottom" style="margin-top: -10px">
            <p class="labelKey">{{'CASHOUT_MOBILE_CONFIRM_FROM' | translate}} </p>
            <p class="labelValue">{{sourceAccount.displayName}}</p>
            <p class="labelValue">{{sourceAccount.accountNumber}}</p>
        </div>
        <div class="greyBorderBottom">
            <p class="labelKey">{{'CASHOUT_MOBILE_CONFIRM_ACCOUNT_BALANCE' | translate}}</p>
            <p class="labelValue"><b>VND {{sourceAccount.availableBalance.formatMoney(0)}}</b></p>
        </div>
        <div class="greyBorderBottom" style="padding: 10px 0;">
            {{lable1}}<br/>
            <div class="avatar-game"> <img src="{{iconUrl}}"/></div>
            <div class="rowContainer">
                <div class="detailtable" style="text-align: match-parent">
                    <div class="row">
                        <div class="friendLabel"><b>{{billPaymentName}}</b></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="greyBorderBottom">
            <p class="labelKey">{{lable2}}</p>
            <p class="labelValue"><b>{{contractCode}}</b></p>
            <p class="labelValue"><b>{{customerName}}</b></p>
        </div>

        <div class="greyBorderBottom">
            <p class="labelKey">{{'BILL_PAYMENT_AMOUNT' | translate}}</p>
            <p class="labelValue"><b>{{currencyCode}} {{parsedAmount}}</b></p>
        </div>

        <div class="greyBorderBottom" style="padding-bottom: 10px" ng-show="haveNoOrderInfo">
            <p class="labelKey">{{'LIST_ORDER_PAYMENT_CHOOSE_ORDER_CONFIRM' | translate}}</p>
            <p class="labelKey">{{'ORDER_INFO_FROM_DATE' | translate}} <b>{{fromDate}}</b></p>
            <p class="labelKey">{{'ORDER_INFO_TO_DATE' | translate}} <b>{{toDate}}</b></p>
        </div>

        <div class="buttonBox">
            <button class="button base active" ng-click="confirm()">{{'BILL_PAYMENT_MAIN_SUBMIT' | translate}}</button>
        </div>
    </div>

    <div class="stickyBottom">
        <div class="socially grey-tcb"></div>
    </div>
</div>