<div>
  <div class="overlay " ng-click="dimissPopUp()"></div>
  <div ng-include src="'views/loading/loading.html'"></div>

  <navigation-bar status="status"></navigation-bar>
  <div>
    <input type="text" class="seachBar" placeholder="{{'SEARCH_BRANCH' | translate }}" ng-model="searchText"/>
  </div>
  <div class="scrollBox-withSearchFooter">
    <ul style="padding: 0">
      <li ng-repeat="branch in branches|filter:searchText" ng-click="selectBranch(branch)">
        <a class="branchList greyBorderBottom">
          {{branch.name}}
        </a>
      </li>
    </ul>
  </div>


    <div class="stickyBottom">

        <div class="socially grey-tcb"></div>
    </div>
</div>