<div>
    <navigation-bar status="status"></navigation-bar>
    <div class="scrollBox-withFooter formContainer" style="margin-top: 5px">
        <div class="successSignUp" style="margin-left: 20px">{{'SIGNUP_SUCCESS_TITLE' | translate }}</div>
        <div class="successSignUp" style="margin-left: 20px">{{'SIGNUP_SUCCESS_TEXT_1' | translate}}</div>
        <div class="space"></div>
        <div class="cashoutInfo greyBorderBottom">{{'SIGNUP_SUCCESS_TIP_COMMON' | translate}} </div><br/>
        <div class="cashoutInfo greyBorderBottom" ng-show="!hasArcIB">{{'SIGNUP_SUCCESS_TIP_NON_KYC' | translate}} </div><br/>
        <p class="labelKey">{{'SIGNUP_SUCCESS_TEXT_2' | translate}}</p>
        <button class="button base active buttonBox" ng-click="clickLogin()">{{'SIGNUP_SUCCESS_LOGIN_BUTTON' | translate}}</button>
    </div>
    <div class="stickyBottom">
        <div class="socially grey-tcb"></div>
    </div>
</div>