<div>
    <navigation-bar status="status"></navigation-bar>
    <div class="profile-cover" style="background-image: url(images/fbcover.jpg)">
<!--        <div class="profile-image"><img ng-attr-src="{{friend.imgUrl}}"  /></div>-->
        <div class="profile-image" style="background-image:url({{friend.imgUrl}})"></div>
        <div class="profile-name"><h1 style="color:white">{{friend.name}}</h1></div>
    </div>
    <div class="flexible-Margin">
        <ul class="contactList">
            <li ng-show="{{showMobile}}">
                <a class="contact-phone">{{friend.mobile}}</a>
            </li>
            <li ng-show="{{showEmail}}">
                <a class="contact-email" >{{friend.email}}</a>
            </li>
            <li >
<!--                <a class="contact-{{friend.channel}} pull-left">{{friend.channelUrlDisp}}</a>-->
            </li>
        </ul>
    </div>
    <br clear="all">
    <div class="dashboardGreyBox">
        <div class="sendMoney" ng-click="clickSendMoney()"><span>{{'FRIEND_CONTACT_SEND_MONEY' | translate }}</span></div>
        <div class="askMoney" ng-click="clickAskMoney()"><span>{{'FRIEND_CONTACT_ASK_MONEY' | translate }}</span></div>
        <!--<div class="instantTransfer" ng-click="clickInstantTransfer()"><span>{{'FRIEND_CONTACT_BANK_TRANSFER' | translate }}</span></div>
        <div class="transaction" ng-click="clickLastFiveTransaction()"><span>{{'FRIEND_CONTACT_LAST_5_TRANSACTIONS' | translate }}</span></div>-->
    </div>
</div>