<div>
    <navigation-bar status="status"></navigation-bar>
    <div class="profile-cover" style="background-image: url({{profile.background}})">

        <div class="profile-image" ng-click="clickProfile()" style="background-image:url({{profile.photo}})" id="profileImage"></div>
        <div class="profile-name"><h1 style="color:white">{{profile.name}}</h1></div>

        <div class="accountBalance" ng-click="swapAccountValue()">
            <div id="eWalletAccount">
                <div class="accountType">{{account.displayName}}<br>{{account.accountNumber}}</div>

                <div class="accountArrow" > </div>
                <div class="amount small">
                    <span>{{account.currency}}</span><span class="number">{{account.balance}} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboardContainer">
        <div class="select">{{'TRANSFER_CHOICE' | translate}}</div>
        <div class="dashboardGreyBox transferBox">
            <div class="inTCB" ng-click="clickInTCB()"><span>{{'TRANSFER_INTCB_TITLE' | translate}}</span></div>
            <div class="interBank" ng-click="clickInterbank()"><span>{{'TRANSFER_INTERBANK_TITLE' | translate }}</span></div>
            <div class="instantTransfer" ng-click="clickInstantTransferImmediate()"><span>{{'TRANSFER_INSTANT_TRANSFER_TITLE' | translate }}</span></div>
            <div class="beneficiary" ng-click="beneficiaryList()" style="width: 37%"><span>{{'TRANSFER_BENEFICIARY_TITLE' | translate }}</span></div>
        </div>
        <div class="socially grey-tcb"></div>
    </div>

</div>