<div>
    <navigation-bar status="status"></navigation-bar>
    <div class="formContainer flexible-Margin">
        <form name="forgotpasswordotpform" id="forgotpasswordotpform">
            <p class="forgotOTPKey SMSText">{{ 'FORGOT_PASSWORD_ENTER_OTP' | translate }}</p>
            <input type="password" placeholder="{{ 'FORGOT_PASSWORD_OTP_CODE' | translate }}" class="greyBorderTopBottom" id="otpCode" name="otpCode" ng-model="otpCode" required/>
            <p class="forgotOTPKey SMSText">{{ 'FORGOT_PASSWORD_NEW_PASSWORD_HERE' | translate }}</p>
            <input type="password" placeholder="{{ 'FORGOT_PASSWORD_NEW_PASSWORD' | translate }}" class="greyBorderTopBottom" id="newpassword" name="newpassword" ng-model="newpassword" required/>
            <input type="password" placeholder="{{ 'FORGOT_PASSWORD_CONFIRM_PASSWORD' | translate }}" class="greyBorderBottom" id="confirmnewpassword" name="confirmnewpassword" ng-model="confirmnewpassword" pw-check="newpassword" required/>
            <div class="msg-block" ng-show="forgotpasswordotpform.$error">
                <span class="msg-error" ng-show="(forgotpasswordotpform.confirmnewpassword.$dirty&&forgotpasswordotpform.confirmnewpassword.$error.pwmatch)">{{ 'FORGOT_PASSWORD_NOT_MATCH' | translate }}</span>
            </div>
        </form>
    </div>
    <div class="stickyBottom">
        <button ng-class="{true: 'button base inactive', false: 'button base active'}[forgotpasswordotpform.$invalid]"  ng-click="submit()" ng-disabled="forgotpasswordotpform.$invalid">{{ 'FORGOT_PASSWORD_SUBMIT' | translate }}</button>
        <div class="socially grey-tcb"></div>
    </div>
</div>