<div>
    <navigation-bar status="status"></navigation-bar>
    <div ng-include src="'views/loading/loading.html'"></div>
    <div class="scrollBox-withFooter">
        <div class="cashoutInfo greyBorderBottom">{{'ACCOUNT_LATEST_TRANSACTIONS_TIP' | translate}} </div>
        <ul class="arrowlist transactionList">
            <li ng-repeat="transaction in transactions" class="greyBorderBottom" ng-click="showTransactionDetails(transaction)">
                <a class="transactionContainer">
                    <div class="rowContainer banktransaction">
                        <span class="name">{{transaction.txnDesc}}</span><br>
                        <span class="banktransaction-amount"><b>{{transaction.creditCurrency}} {{transaction.amountFormated}}</b></span><br>
                        <div class="detailtable">
                            <div class="row">
                                <div class="labelKey">{{'ACCOUNT_LATEST_TRANSACTIONS_FROM' | translate}}</div><div class="labelvalue"><b>{{transaction.payer.accountName}}</b></div>
                            </div>
                            <div class="row">
                                <div class="labelKey">{{'ACCOUNT_LATEST_TRANSACTIONS_TO' | translate}}</div><div class="labelvalue"><b>{{transaction.payee.accountName}}</b></div>
                            </div>
                            <div class="row">
                                <div class="labelKey">{{'ACCOUNT_LATEST_TRANSACTIONS_DATE' | translate}}</div><div class="labelvalue"><b>{{transaction.date}}</b></div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="stickyBottom">
        <div class="socially grey-tcb"></div>
    </div>
</div>