<div>
    <navigation-bar status="status"></navigation-bar>
    <div class="scrollBox-withFooter flexible-Margin">
        <!--<ul class="arrowlist fav-friendList">-->
            <!--<li ng-repeat="promotion in promotions" class="greyBorderBottom">-->
                <!--<a class="favouritesContainer friendsList" style="background: none;">-->
                    <!--<div class="avatar" style="width: 70px; padding: 10px 0px;"> <img class="promotion" src="{{promotion.image}}"/></div>-->
                    <!--<div class="rowContainer" style="padding: 20px">-->
                        <!--<div class="detailtable" style="text-align: match-parent">-->
                            <!--<div class="row">-->
                                <!--<div class="friendLabel" ng-bind-html="promotion.content"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
        <div style="text-align: center; font-size: 1.3em;color: red; font-weight: bold;">XUÂN ĐẮC LỘC - TẾT NHƯ Ý</div>
        <br/>
        <div>Nhận ngay <b style="color: red">2016 đồng tiền vàng</b> cùng cơ hội trúng thưởng <b style="color: red">1 lượng vàng mỗi ngày</b> và <b style="color: red">1 kg vàng cuối chương trình</b> với tổng giải thưởng hơn <b style="color: red">8 tỷ đồng</b></div>
        <br/>
        <div>Thời gian từ <b>15.01.2016</b> đến <b>31.03.2016</b></div>
        <br/>
        <div>Truy cập <a style="color: blue; font-weight: bold" href="https://techcombank.com.vn">www.techcombank.com.vn</a> hoặc </div>
        <br/>
        <div>Hotline <a style="color: blue; font-weight: bold" href="tel:1800588822" style="color: blue">1800 588 822</a> (miễn phí) để biết thêm chi tiết</div>

    </div>
    <div class="stickyBottom">
        <div class="socially grey-tcb"></div>
    </div>
</div>