<div>
    <div ng-include src="'views/loading/loading.html'"></div>
    <navigation-bar status="status"></navigation-bar>
    <div class="scrollBox-withFooter formContainer flexible-Margin">
        <form name="changepasswordform" id="changepasswordform">
            <input type="password" placeholder="{{'CHANGE_PASSWORD_OLD' | translate}}" class="greyBorderBottom" id="oldpassword" name="oldpassword" ng-model="oldpassword" required/>
            <input type="password" placeholder="{{'CHANGE_PASSWORD_NEW' | translate}}" class="greyBorderBottom" id="newpassword" name="newpassword" ng-model="newpassword" required/>
            <input type="password" placeholder="{{'CHANGE_PASSWORD_CONFIRM' | translate}}" class="greyBorderBottom" id="confirmpassword" name="confirmpassword" ng-model="confirmpassword" pw-check="newpassword" required/>
            <div class="msg-block" ng-show="changepasswordform.$error">
                <span class="msg-error" ng-show="(changepasswordform.confirmpassword.$dirty&&changepasswordform.confirmpassword.$error.pwmatch)">{{'CHANGE_PASSWORD_ERROR' | translate}}</span>
            </div>
        </form>
        <br><br><br><br><br>
        <button ng-class="{true: 'button base inactive', false: 'button base active'}[changepasswordform.$invalid]" ng-disabled=" changepasswordform.$invalid" ng-click="submit()">{{'CHANGE_PASSWORD_SUBMIT' | translate}}</button>
        <button class="button base active" ng-click="cancel()">{{'CHANGE_PASSWORD_CANCEL' | translate}}</button>
    </div>
    <div class="stickyBottom">
        <div class="socially grey"></div>
    </div>

</div>