<div>
    <div class="tabs tabs-icon-top">
        <a class="tab-item" href="#/dashboard/home" style="color:#444">
            <i class="icon home {{highlightHomeIconinDashboard}}"></i>
            {{'tab_home' | translate}}
        </a>
        <a class="tab-item" href="#/tcbindex" style="color:#444">
            <i class="icon tcb {{highlightInTCBIconinDashboard}}"></i>
            {{'tab_tcb' | translate}}
        </a>
        <a class="tab-item" href="#/send" style="color:#444">
            <i class="icon sendmoney {{highlightSendIconinDashboard}}"></i>
            {{'tab_sendMoney' | translate}}
        </a>
        <a class="tab-item" href="#/dashboard/askMoney" style="color:#444">
            <i class="icon askmoney {{highlightAskIconinDashboard}}"></i>
            {{'tab_askMoney' | translate}}
        </a>
        <a class="tab-item" href="#/cardpaymentindex" style="color:#444">
            <i class="icon card"></i>
            {{'tab_card' | translate}}
        </a>

    </div>
    <div ui-view></div>
</div>