<div>
    <navigation-bar status="status"></navigation-bar>

    <div class="spreadLuvBackground">

        <div>
            <p class="spreadLabel">{{'SPREAD_THE_LUV' | translate }}</p>
        </div>
        <div class="dashboardGreyBox spreadtheluv">
            <div class="spreadLuv" style="width:160px"><span class="recommend">{{ 'RECOMMEND_OUR_APP' | translate}}</span></div>
        </div>
        <div class="dashboardGreyBox askMoneyBox spreadtheluv">
            <div class="spreadArrow buttonBox"></div>
            <div class="facebook" ng-click="clickFacebook()"><span class="facebookLabel">{{'SPREAD_FACEBOOK' | translate }}</span></div>
        </div>
        <div class="skipBox spreadtheluv">
            <input type="button" value="{{'SKIP_BUTTON' | translate}}" class="button button-Login-panel" ng-click="clickSkip()"/>
        </div>

    </div>
</div>